* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 48, 92);
    color: whitesmoke;
}

#nav {
    position: absolute;
    // background-color: rgba(255, 255, 255, 0.0);
    #navUl {
        // .nav-link {
        //     color: white;
        // }
        .nav-link:hover {
            background-color: rgba($color: #eae2e2, $alpha: 0.4) !important;
            border-radius: 2px !important;
        }
    }
}

fieldset {
    margin: auto;
    margin-top: 100px;
    width: 60%;
}

.img-thumbnail {
    width: 70px !important;
    height: 70px !important;
}

tr {
    text-align: center;
    td {
        text-align: left;
        vertical-align: middle;
    }
}

.box {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 27rem;
    background-image: url("../cars/img/vienna-night-view.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .innerBox {
        background-color: rgba(220, 208, 208, 0.5);
    }
}

.cardLoop {
    margin: 2rem;
    height: 20rem;
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
        height: 50%;
    }
}

.cardStatus {
    color: gray;
    background-color: rgb(227, 223, 223);
    margin: 2rem;
    height: 20rem;
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
        height: 50%;
    }
}

.cardStatusAvail {
    margin: 2rem;
    height: 20rem;
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
        height: 50%;
    }
}

.cardBody {
    text-align: center;
    vertical-align: middle;
    width: 58rem;
    height: 40rem;
    img {
        height: 65%;
    }
    .card-body {
        text-align: center;
        vertical-align: middle;
    }
}

.btnBox {
    text-align: center;
    vertical-align: middle;
}

.carsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 5rem;
}

.link {
    text-decoration: none;
    color: whitesmoke;
}

.link:hover {
    // text-decoration: none;
    color: rgba(171, 206, 245, 0.837);
}

.userImage {
    width: 200px;
    height: 200px;
}

.hero {
    background: rgb(2, 0, 36);
    background: linear-gradient(24deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

footer {
    background-color: rgb(29, 50, 67);
    margin-bottom: -1rem;
    p {
        text-align: center;
        color: white;
        padding: 0.8rem;
    }
}
